body 
  header {
    text-align: center;
  }
#featured-property{
  text-align: center;
}
a {
  padding-left: 10px;
  padding-right: 10px;
}
figcaption{
  text-align: center;
}
#featured-property p{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#details div{
float: left;
background-color: red;
text-align: center;
width: 25%;

}